[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "penPHcure"]
	path = penPHcure
	url = https://github.com/a-beretta/penphcure
	shallow = true
	registered = true
